/* start styling partnership section */
.partnership-title h1,
.partnership-list h1,
.partnership-list-choice h1 {
    font-weight: 900;
    color: #1746a2;
}

.partnership-list .partnership-list-choice {
    background-color: #ff9900;
    transition: background-color 0.8s ease-in-out;
}

.partnership-list .partnership-list-choice h1 {
    color: #174a62;
}

/* .partnership-list .partnership-list-choice:hover{
    background-color: #1746A2;
}

.partnership-list .partnership-list-choice:hover p, .partnership-list .partnership-list-choice:hover li{
    color: #fff;
} */

/* .partnership-list .partnership-list-choice:hover h1,
.partnership-list .partnership-list-choice:hover a {
    color: #ff9900;
} */
/* end styling partnership section */
